<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated TModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="Trmodel.presentation.TrmodelModelWizardID"
            name="%_UI_TrmodelModelWizard_label"
            class="Trmodel.presentation.TrmodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TrmodelModelFile.gif">
         <description>%_UI_TrmodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated TModel -->
      <editor
            id="Trmodel.presentation.TrmodelEditorID"
            name="%_UI_TrmodelEditor_label"
            icon="icons/full/obj16/TrmodelModelFile.gif"
            extensions="trmodel"
            class="Trmodel.presentation.TrmodelEditor"
            contributorClass="Trmodel.presentation.TrmodelActionBarContributor">
      </editor>
   </extension>

</plugin>
